/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #1F2937;
  color: white;
  text-align: center;
}

/* styles.css */
.component-bg-global {
  background: rgba(68, 87, 106, 0.66) !important;
}
