<mat-toolbar class="topBar component-bg-global">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo"><a (click)="navigateToMain()">Lingo Leap</a></div>

  <span class="example-spacer"></span>
  <span class="icon-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Log out">
    <mat-icon>logout</mat-icon>
  </button>

  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Log in"
          (click)="navigateToLogin()">
    <mat-icon>login</mat-icon>
  </button>

</mat-toolbar>
