<mat-toolbar class="topBar component-bg-global">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu class="menu" #menu="matMenu">
    <button
      style="color: white !important; display: flex; align-items: center;"
      matTooltip="Check Out"
      mat-menu-item
      (click)="checkout()"
    >
      <mat-icon style="color: white; margin-right: 8px;">shopping_cart</mat-icon>
      Pricing
    </button>

    <button
      style="color: white !important; display: flex; align-items: center;"
      matTooltip="Check Out"
      mat-menu-item
      (click)="checkout()"
    >
      <mat-icon style="color: white; margin-right: 8px;">info</mat-icon>
      About
    </button>
  </mat-menu>
  <div class="logo"><a (click)="navigateToMain()">Lingo Leap</a></div>

  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="demo"
          (click)="open()">
    <mat-icon>close</mat-icon>
  </button>

  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Check Out"
          (click)="checkout()">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <span class="icon-spacer"></span>

  {{this.user?.username}}

  <button *ngIf="this.user?.token === undefined || this.user?.token === null" mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Log in"
          (click)="navigateToLogin()">
    <mat-icon>login</mat-icon>
  </button>

  <button *ngIf="!(this.user?.token === undefined || this.user?.token === null)" mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Log out"
          (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
