<mat-toolbar class="topBar component-bg-global">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo"><a (click)="navigateToMain()">Lingo Leap</a></div>

  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="demo"
          (click)="open()">
    <mat-icon>close</mat-icon>
  </button>

  <span class="icon-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Check Out"
          (click)="checkout()">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  {{this.user?.premium}}
  {{this.user?.username}}

  <button *ngIf="this.user?.token === undefined || this.user?.token === null" mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Log in"
          (click)="navigateToLogin()">
    <mat-icon>login</mat-icon>
  </button>

  <button *ngIf="!(this.user?.token === undefined || this.user?.token === null)" mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          matTooltip="Log out"
          (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
