spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}?currentSchema=public&options=-c%20search_path=public
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: public
    default-schema: public
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        default_schema: public
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

stripe:
  secretKey: sk_test_51QeAPYGpbRNj5jwvLtKe8jn4fATduhKKlF0vamt0Ffy0letbgaQ4DYMgE2BqGjYEAkTnM50p65L8dPpneQuxXuap00ZvUlhQH6

cors:
  allowed:
    origins: ${ORIGINS}
