<div class="center">
  <mat-card class="card component-bg-global" appearance="outlined">
    <div class="header-container">
      <div class="header" >
        <span >{{ 'Sign In' }}</span>
      </div>
      <div>
        <button style="" mat-icon-button (click)="navigateToLMain()">
          <mat-icon color="warn">close</mat-icon>
        </button>
      </div>
    </div>
    <mat-card-content>
      <form [formGroup]="myForm">
        <div class="grid grid-cols-1 gap-4">
          <div>
            <mat-form-field appearance="fill" hideRequiredMarker="true" class="input">
              <mat-label>User</mat-label>
              <input type="text" matInput formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" hideRequiredMarker="true" class="input">
              <mat-label>Password</mat-label>
              <input type="text" matInput formControlName="password">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" hideRequiredMarker="true" class="input">
              <mat-label>Email</mat-label>
              <input type="text" matInput formControlName="password">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <div style="display: flex; justify-content: flex-end; padding-right: 16px">
        <div>
          <button mat-raised-button color="primary" (click)="signIn()" [disabled]="myForm.invalid "
                  type="submit">Sign in
          </button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
