.icon-spacer {
  flex: 1 1 auto;
}

.about-cloud {
  border: 2px solid rgba(31, 41, 55, 0.53);
  border-radius: 20px;
  transition: border-color 0.1s ease-in-out;
}

.about-cloud:hover {
  border-color: #1f2937;
}
