.icon-spacer {
  flex: 1 1 auto;
}

.input ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: #425062 !important;
}

.input ::ng-deep .mdc-text-field__input{
  color: white !important;
}

.sign-in {
  color: white !important;
}

.input ::ng-deep .mdc-floating-label {
  color: #f3f3f3 !important;
}

.header-container {
  gap: 10px;
  padding-bottom: 10px;
}
